{% extends 'base.html.twig' %}

{% block title %}Pagina Principal{% endblock %}

{% block body %}


<div class="contenedor">
    <img class="imagen_fondo" src="../../assets/images/imagen_fondo.jpeg">
    <img class="imagen_logo" src= "../../assets/images/canavesiologo.png" alt= "logo de canavesio">
    <p class="enlace_catalogo">
        <a href="{{ path('product_list') }}">CATALOGO</a>
    </p>
    <p class="enlace_carrito">
        <a href="{{ path('cart_view') }}">CARRITO</a>
    </p>
    <p class="enlace_favoritos">
        <a href="{{ path('favorite_list') }}">FAVORITOS</a>
    </p>
</div>
<div class="contenido"> 
    <h1>¿QUIENES SOMOS?</h1>
</div>
{% endblock %}